@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

$font-family-sans-serif: 'DM Serif Display', serif;
$font-family-base: 'Karla', sans-serif;
$primary: hsl(256, 26%, 20%);
$secondary: transparent;
$dark: hsl(270, 9%, 17%);
$link-decoration: none;
$link-hover-decoration: underline;
$nav-link-color: hsl(273, 4%, 51%);
$nav-link-hover-color: black;
$btn-border-radius: 0;

@media (max-width:541px) {

  .menu-mobile {
    height: 450px;
  }

  .menu-mobile:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 50%;

  }

  .welcome-section:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -20%;
    left: 50%;
    background: url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-size: content;
    background-origin: content-box;
    background-position: right bottom;
    width: 50%;
  }

  .welcome:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    height: 50%;
  }

  .work-section {
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}

@media (min-width: 541px) {
  .welcome-section {
    height: 550px;
  }

  .welcome-section:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 12%;
    left: 50%;
    background: url("../images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-size: content;
    background-origin: content-box;
    background-position: right;
    width: 50%;

  }

  .features:before {
    content: '';
    position: absolute;
    top: -35%;
    right: 0;
    bottom: 0;
    left: -16.8%;
    background: url("../images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-size: 10%;

  }

  .work-section {
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

}

body {
  font-family: $font-family-base;
}

h2 {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

.logo {
  height: 10px;
  width: 100px;
}

.welcome-section {
  width: 100%;
}

.footer {
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: -30px -50px;
  background-size: contain;
}






@import "../node_modules/bootstrap/scss/bootstrap";